[submodule "zsh/modules/history-substring-search/external"]
	path = zsh/modules/history-substring-search/external
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/modules/syntax-highlighting/external"]
	path = zsh/modules/syntax-highlighting/external
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/modules/completion/external"]
	path = zsh/modules/completion/external
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/modules/autosuggestions/external"]
	path = zsh/modules/autosuggestions/external
	url = https://github.com/tarruda/zsh-autosuggestions
