<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tpb.lucifr.com</string>
	<key>connections</key>
	<dict>
		<key>6CC23929-F540-4BA4-A2E5-588D2B158E7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C86ADD2A-E87D-4820-8B49-887EF7B52624</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>40762974-FA6C-41C8-B7C8-55101C8218A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>774E725F-D6C5-415E-B422-7953EE583139</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C86ADD2A-E87D-4820-8B49-887EF7B52624</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>40762974-FA6C-41C8-B7C8-55101C8218A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8462655A-2702-48FF-A27A-5CFE22A1C01E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C86ADD2A-E87D-4820-8B49-887EF7B52624</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>40762974-FA6C-41C8-B7C8-55101C8218A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DEFE8451-C7D7-491A-B337-67B61B317211</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C86ADD2A-E87D-4820-8B49-887EF7B52624</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>40762974-FA6C-41C8-B7C8-55101C8218A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lucifr</string>
	<key>description</key>
	<string>Search The Pirate Bay and get magnet link</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>The Pirate Bay</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C86ADD2A-E87D-4820-8B49-887EF7B52624</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ptop</string>
				<key>runningsubtext</key>
				<string>Wait for it...</string>
				<key>script</key>
				<string>require( 'workflows.php' );
$w = new Workflows();
$query = "{query}";
$data = file_get_contents(__DIR__.'/category.json');
$data = json_decode( $data );
$pattern='/^(\d+) (➣) (.+)?$/';
preg_match($pattern,$query,$match);
if ($query == '') {
	$w-&gt;result( 0, 0, 'All', '', 'icon.png', 'no', '0 ➣ ' );
	foreach ($data as $item) {
		$w-&gt;result( $item-&gt;id, $item-&gt;id, $item-&gt;name, 'in '. $item-&gt;in, 'icon.png', 'no', $item-&gt;id .' ➣ ' );
	};
}
elseif($match[0] == $query){
	$list = $w-&gt;request( "http://apify.ifc0nfig.com/tpb/top?id=".urlencode( $match[1] ) );
	$list = json_decode( $list );
	if($match[3] == ''){
		foreach ($list as $item) {
			$w-&gt;result( $item-&gt;id, $item-&gt;magnet, $item-&gt;name, $item-&gt;size .', '. $item-&gt;seeders .' seeders, '. $item-&gt;leechers .' leechers, in '. $item-&gt;category, 'icon.png' );	
		};
	}
	else {
	 	foreach ($list as $item) {
	 	  	$pos = $pos = strpos(strtolower($item-&gt;name), strtolower($match[3]));
	 	  	if($pos !== false) {
	 	  	 	$w-&gt;result( $item-&gt;id, $item-&gt;magnet, $item-&gt;name, $item-&gt;size .', '. $item-&gt;seeders .' seeders, '. $item-&gt;leechers .' leechers, in '. $item-&gt;category, 'icon.png' );	
	 	  	}	
	 	};	
	}	
}
else{
foreach ($data as $item) {
	$pos = strpos(strtolower($item-&gt;name), strtolower($query));
	if($pos !== false) {
		$w-&gt;result( $item-&gt;id, $item-&gt;id, $item-&gt;name, 'in '. $item-&gt;in, 'icon.png', 'no', $item-&gt;id .' ➣ ' );
	}
};
}
echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>Select a category to search</string>
				<key>title</key>
				<string>Search in the tops</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6CC23929-F540-4BA4-A2E5-588D2B158E7B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pcat</string>
				<key>runningsubtext</key>
				<string>Wait for it...</string>
				<key>script</key>
				<string>require( 'workflows.php' );
$w = new Workflows();
$query = "{query}";
$data = file_get_contents(__DIR__.'/category.json');
$data = json_decode( $data );
$pattern='/^(.+) (➣) (.+)$/';
preg_match($pattern,$query,$match);
if ($query == '') {
	foreach ($data as $item) {
		if($item-&gt;in !== 'All') {
			$w-&gt;result( $item-&gt;id, $item-&gt;id, $item-&gt;name, 'in '. $item-&gt;in, 'icon.png', 'no', $item-&gt;name .' ➣ ' );
		}
	};
}
elseif($match[0] == $query){
	$url = "http://apify.ifc0nfig.com/tpb/search/". urlencode( $match[3] ) ."?\$filter=category%20eq%20'". urlencode( $match[1] ) ."'&amp;top=10";
	$list = $w-&gt;request( $url );
	$list = json_decode( $list );
	
	foreach ($list as $item) {
	  $pos = $pos = strpos(strtolower($item-&gt;name), strtolower($match[3]));
	  if($pos !== false) {
		$w-&gt;result( $item-&gt;id, $item-&gt;magnet, $item-&gt;name, $item-&gt;size .', '. $item-&gt;seeders .' seeders, '. $item-&gt;leechers .' leechers, in '. $item-&gt;category, 'icon.png' );			
		}
	};
}
else{
foreach ($data as $item) {
	if($item-&gt;in !== 'All') {
		$pos = strpos(strtolower($item-&gt;name), strtolower($query));
		if($pos !== false) {
			$w-&gt;result( $item-&gt;id, $item-&gt;id, $item-&gt;name, 'in '. $item-&gt;in, 'icon.png', 'no', $item-&gt;name .' ➣ ' );
		}
	}
	
};
}
echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>select a category to search</string>
				<key>title</key>
				<string>Search The Pirate Bay in category</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>774E725F-D6C5-415E-B422-7953EE583139</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pb</string>
				<key>runningsubtext</key>
				<string>Wait for it...</string>
				<key>script</key>
				<string>require( 'workflows.php' );
$w = new Workflows();
$query = "{query}";
$data = $w-&gt;request( "http://apify.ifc0nfig.com/tpb/search?id=".urlencode( $query ) );
$data = json_decode( $data );

foreach ($data as $item) {
	$w-&gt;result( $item-&gt;id, $item-&gt;magnet, $item-&gt;name, $item-&gt;size .', '. $item-&gt;seeders .' seeders, '. $item-&gt;leechers .' leechers, in '. $item-&gt;category, 'icon.png' );
};
echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>Type something to search</string>
				<key>title</key>
				<string>Search The Pirate Bay</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8462655A-2702-48FF-A27A-5CFE22A1C01E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Magnet link copied to clipboard.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>40762974-FA6C-41C8-B7C8-55101C8218A8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>prec</string>
				<key>runningsubtext</key>
				<string>Wait for it...</string>
				<key>script</key>
				<string>require( 'workflows.php' );
$w = new Workflows();
$data = $w-&gt;request( "http://apify.ifc0nfig.com/tpb/recent" );
$data = json_decode( $data );

foreach ($data as $item) {
	$w-&gt;result( $item-&gt;id, $item-&gt;magnet, $item-&gt;name, $item-&gt;size .', '. $item-&gt;seeders .' seeders, '. $item-&gt;leechers .' leechers, in '. $item-&gt;category, 'icon.png' );
};
echo $w-&gt;toxml();</string>
				<key>title</key>
				<string>Fetch recently published torrents</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DEFE8451-C7D7-491A-B337-67B61B317211</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Thanks to:

* David Ferguson's Workflows class: http://dferg.us/workflows-class/

* Apify's The Pirate Bay API: http://apify.ifc0nfig.com/docs</string>
	<key>uidata</key>
	<dict>
		<key>40762974-FA6C-41C8-B7C8-55101C8218A8</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>6CC23929-F540-4BA4-A2E5-588D2B158E7B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>774E725F-D6C5-415E-B422-7953EE583139</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>8462655A-2702-48FF-A27A-5CFE22A1C01E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C86ADD2A-E87D-4820-8B49-887EF7B52624</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DEFE8451-C7D7-491A-B337-67B61B317211</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://lucifr.com</string>
</dict>
</plist>
