<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0914FA2E-7C5B-4352-91A5-3835F41BDA41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72CF4A8D-83E8-42BC-8E10-EFB786C775C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>93ED8911-2E2F-42EF-BAF9-C56364C44B89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0914FA2E-7C5B-4352-91A5-3835F41BDA41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Emmanuele Massimi</string>
	<key>description</key>
	<string>Transform string in lowcase, and copy it to the clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lowcase</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>echo {query} | tr '[:upper:]' '[:lower:]' | tr -d '\n'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0914FA2E-7C5B-4352-91A5-3835F41BDA41</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lowcase</string>
				<key>subtext</key>
				<string>Transform string in lowcase and copy it to the clipboard</string>
				<key>text</key>
				<string>Lowcase</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>93ED8911-2E2F-42EF-BAF9-C56364C44B89</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>72CF4A8D-83E8-42BC-8E10-EFB786C775C9</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0914FA2E-7C5B-4352-91A5-3835F41BDA41</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>72CF4A8D-83E8-42BC-8E10-EFB786C775C9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>93ED8911-2E2F-42EF-BAF9-C56364C44B89</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
