"*":
  core:
    customFileTypes:
      "source.javascript": [
        "cocoascript"
      ]
    disabledPackages: [
      "metrics"
      "language-mustache"
      "language-todo"
      "language-perl"
      "language-objective-c"
      "autoflow"
      "exception-reporting"
      "markdown-preview"
    ]
    telemetryConsent: "no"
  editor:
    autoIndent: false
    invisibles: {}
  linter:
    errorPanelHeight: 24
    gutterPosition: "Left"
  "linter-eslint":
    globalNodePath: "/usr/local"
  "markdown-preview-plus":
    useGitHubStyle: true
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
