"*":
  core:
    customFileTypes:
      "source.javascript": [
        "cocoascript"
      ]
    disabledPackages: [
      "metrics"
      "language-mustache"
      "language-todo"
      "language-perl"
      "language-objective-c"
      "autoflow"
      "exception-reporting"
    ]
    telemetryConsent: "no"
  editor:
    autoIndent: false
    fontSize: 15
    invisibles: {}
  linter: {}
  "linter-eslint":
    globalNodePath: "/usr/local"
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
