<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.thefeverdog.CurrencyConverter</string>
	<key>connections</key>
	<dict>
		<key>A2F33257-4B38-4F1C-AF62-06DA6AABCE96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA4BB1BD-EA85-4F68-B16F-EBA4A12E9862</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DA4BB1BD-EA85-4F68-B16F-EBA4A12E9862</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87834598-FBBB-43B7-8F9C-DD4B93C63CDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bob J.</string>
	<key>description</key>
	<string>Find exchange rate using Google Finance Currency Converter</string>
	<key>name</key>
	<string>CurrencyConverter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string># USAGE:
# ------
# convert 10 &lt;3 Letter Code&gt; [to &lt;3 Letter Code&gt;]

# EXAMPLES (all 4 produce the same output):
# -----------------------------------------
# convert 10 USD to EUR
# convert 10 USD EUR
# convert 10 USD (with DEFAULT='EUR')
# convert 10 $ to €

# SETTINGS (you can edit here):
# ----------------------------
# Default Target Currency - if no 3rd argument is provided,
# the amount is converted to the default target currency.
DEFAULT='EUR'



# SCRIPT (don't edit below unless you know what you're doing):
# ------------------------------------------------------------
# Before using this in alfred replace $1 in the following line with {query}.
# Replace currency symbols with their 3 letter codes.
QUERY=`echo {query} " " | sed "s/ $ / USD /g;s/ € / EUR /g;s/ £ / GBP /g;s/ ¥ / JPY /g"`

# Split Alfred query into parts:
AMOUNT=`echo $QUERY | awk '{ print $1; }' | sed 's/,/./g'`
INPUT=`echo $QUERY | awk '{ print toupper($2); }' `
TO=`echo $QUERY| awk '{ print toupper($3); }'`
TARGET=`echo $QUERY | awk '{ print toupper($4); }'`

# Check if we have TO/target, otherwise use default target.
if [ "$TO" = "" ]; then
TARGET=$DEFAULT
fi

# Check if a TO is provided, otherwise use TO as Target.
if [ "$TARGET" = "" ]; then
	TARGET=$TO
fi

# Check length of Input and Target strings - we're looking for 3 letter codes.
if [ "${#INPUT}" -le 3 ] &amp; [ "${#TARGET}" -le 3 ]; then
# Get exchange rate
  if [ "$TARGET" != "$INPUT" ]; then
    RESULT=`curl -s "http://www.google.com/finance/converter?a=$AMOUNT&amp;from=$INPUT&amp;to=$TARGET" | awk '/&lt;span/{print}' | sed -e 's/&lt;[^&gt;][^&gt;]*&gt;//g' -e '/^ *$/d'`
    if [ "$RESULT" != "" ]; then
      echo $RESULT
    else
      echo 'You provided an unknown currency code.'
    fi
  else
    echo $AMOUNT $INPUT ' = ' $AMOUNT $TARGET
    echo 'Maybe you want to provide different currencies or change the default currency?'
  fi
else
  echo 'Please use 3-letter currency codes (e.g. USD) or use one of the following symbols: $, €, £, ¥.'
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DA4BB1BD-EA85-4F68-B16F-EBA4A12E9862</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>The current exchange rate is:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>87834598-FBBB-43B7-8F9C-DD4B93C63CDF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>convert</string>
				<key>subtext</key>
				<string>Find exchange rates using 3-letter currency codes (USD, EUR,...)</string>
				<key>text</key>
				<string>Convert {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2F33257-4B38-4F1C-AF62-06DA6AABCE96</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>87834598-FBBB-43B7-8F9C-DD4B93C63CDF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A2F33257-4B38-4F1C-AF62-06DA6AABCE96</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DA4BB1BD-EA85-4F68-B16F-EBA4A12E9862</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/theFeverDog</string>
</dict>
</plist>
