"*":
  "atom-beautify":
    css:
      indent_size: 2
    general:
      _analyticsUserId: "8bfc3dc2-e55f-4b45-93b6-8b516d108dab"
    html:
      indent_size: 2
    js:
      indent_size: 2
  "atom-package-deps":
    ignored: []
  core:
    disabledPackages: [
      "metrics"
      "welcome"
      "language-javascript"
      "markdown-preview"
    ]
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "e2c17e7a-6562-482a-b326-cd43e0f43b75"
  linter:
    disabledProviders: [
      "ESLint"
    ]
  "linter-eslint":
    disableWhenNoEslintConfig: true
    globalNodePath: "/usr/local"
    useGlobalEslint: false
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview":
    useGitHubStyle: true
  "spell-check":
    locales: [
      "es-ES"
    ]
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
