<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.david.restart</string>
	<key>connections</key>
	<dict>
		<key>86934D55-AAC2-4F5A-8676-C08E7526336D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6417959-A400-4BC8-AD54-D52D7ADE4979</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A23F5326-8EE4-4B6B-8317-CFCF19A6FBEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86934D55-AAC2-4F5A-8676-C08E7526336D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Ferguson</string>
	<key>description</key>
	<string>Restart OS X without Relaunch</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>System commands</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>defaults write com.apple.loginwindow TALLogoutSavesState -bool NO</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86934D55-AAC2-4F5A-8676-C08E7526336D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>tell application "System Events"	tell process "Finder"		click menu item "Restart" of menu "Apple" of menu bar 1	end tellend tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>E6417959-A400-4BC8-AD54-D52D7ADE4979</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>restart</string>
				<key>subtext</key>
				<string>Restart without Relaunch</string>
				<key>text</key>
				<string>Restart</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A23F5326-8EE4-4B6B-8317-CFCF19A6FBEF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>86934D55-AAC2-4F5A-8676-C08E7526336D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A23F5326-8EE4-4B6B-8317-CFCF19A6FBEF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E6417959-A400-4BC8-AD54-D52D7ADE4979</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>dferg.us</string>
</dict>
</plist>
