<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.benzi.a2w.bulkrename</string>
	<key>connections</key>
	<dict>
		<key>3BEBC373-FF13-44FE-B38C-E67BCA895ADC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E0383F3-D899-4741-B24C-8DBDD89F5165</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4B115AD1-33F9-422C-8C2E-9B74515AA24E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Delete</string>
			</dict>
		</array>
		<key>6F88F4D8-F139-474F-9819-26D2DFEC759D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7269217A-87DD-43D5-BA77-1E36DA68801F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7026B6F9-2B84-40D0-A7D1-72C81FFBC22A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F44F0806-73D9-4B49-87E1-D69CAF2057D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EE00F379-A7DF-4EF0-AA7F-544A6CFE835B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Edit preset</string>
			</dict>
		</array>
		<key>7A26C5FA-4FF3-4588-8059-712C640E9985</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC3253D9-B67B-4C73-9965-DA1C8BCC3AFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4537926C-2289-4DBA-9566-EDBF6A1E7E5A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Delete</string>
			</dict>
		</array>
		<key>7B883246-0C8A-4818-93FA-0ECB4CE332E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5ED76FD-20BE-445F-9058-3A20588EB091</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E1C9D66F-12CF-4E6E-B6FB-D935A7E61266</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5ED76FD-20BE-445F-9058-3A20588EB091</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E5ED76FD-20BE-445F-9058-3A20588EB091</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Benzi Ahamed</string>
	<key>description</key>
	<string>A file renaming workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BulkRename</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>.list</string>
				<key>script</key>
				<string>python preset_list.py --view "{query}"</string>
				<key>subtext</key>
				<string>Manage your BulkRename presets</string>
				<key>title</key>
				<string>Show presets</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3BEBC373-FF13-44FE-B38C-E67BCA895ADC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>python preset_list.py --edit "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E0383F3-D899-4741-B24C-8DBDD89F5165</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>python preset_list.py --delete "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4B115AD1-33F9-422C-8C2E-9B74515AA24E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string># add:… or node:…
python config.py --put renameit.node.action "{query}"
python node_view.py --prepare</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BC3253D9-B67B-4C73-9965-DA1C8BCC3AFB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>.preset</string>
				<key>script</key>
				<string>python preset_view.py --view "{query}"</string>
				<key>title</key>
				<string>Edit preset</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7A26C5FA-4FF3-4588-8059-712C640E9985</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>python config.py --put renameit.node.action "{query}"
python node_view.py --delete</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4537926C-2289-4DBA-9566-EDBF6A1E7E5A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>python node_view.py --save "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7269217A-87DD-43D5-BA77-1E36DA68801F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>.node</string>
				<key>script</key>
				<string>python node_view.py --view "{query}"</string>
				<key>title</key>
				<string>Edit preset step</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F88F4D8-F139-474F-9819-26D2DFEC759D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Rename with BulkRename</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>E1C9D66F-12CF-4E6E-B6FB-D935A7E61266</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>python rename_view.py --files "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E5ED76FD-20BE-445F-9058-3A20588EB091</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7B883246-0C8A-4818-93FA-0ECB4CE332E3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>.rename</string>
				<key>runningsubtext</key>
				<string>Please wait, generating preview...</string>
				<key>script</key>
				<string>python rename_view.py --view "{query}"</string>
				<key>subtext</key>
				<string>Rename files using BulkRename</string>
				<key>title</key>
				<string>BulkRename</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7026B6F9-2B84-40D0-A7D1-72C81FFBC22A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>python rename_view.py --run "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F44F0806-73D9-4B49-87E1-D69CAF2057D0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>python preset_list.py --edit "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EE00F379-A7DF-4EF0-AA7F-544A6CFE835B</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0E0383F3-D899-4741-B24C-8DBDD89F5165</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3BEBC373-FF13-44FE-B38C-E67BCA895ADC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4537926C-2289-4DBA-9566-EDBF6A1E7E5A</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>4B115AD1-33F9-422C-8C2E-9B74515AA24E</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>6F88F4D8-F139-474F-9819-26D2DFEC759D</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>7026B6F9-2B84-40D0-A7D1-72C81FFBC22A</key>
		<dict>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>7269217A-87DD-43D5-BA77-1E36DA68801F</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>7A26C5FA-4FF3-4588-8059-712C640E9985</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>7B883246-0C8A-4818-93FA-0ECB4CE332E3</key>
		<dict>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>BC3253D9-B67B-4C73-9965-DA1C8BCC3AFB</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>E1C9D66F-12CF-4E6E-B6FB-D935A7E61266</key>
		<dict>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>E5ED76FD-20BE-445F-9058-3A20588EB091</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>EE00F379-A7DF-4EF0-AA7F-544A6CFE835B</key>
		<dict>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>F44F0806-73D9-4B49-87E1-D69CAF2057D0</key>
		<dict>
			<key>ypos</key>
			<real>870</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>benzi.site44.com</string>
</dict>
</plist>
