<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>wc.carlosnz.v1</string>
	<key>connections</key>
	<dict>
		<key>09E641C2-6B59-4FC7-9984-E8CC1BE44A67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A82EFBC-23DD-4DCE-AF89-4515048764FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0FE50D12-3D95-4D01-BF4E-477A0694597A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09E641C2-6B59-4FC7-9984-E8CC1BE44A67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>715A4CAC-50C1-4569-8749-D712B0C4BC9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A82EFBC-23DD-4DCE-AF89-4515048764FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>868C62D4-F31B-4A70-BD01-F11EAE2EB14E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A82EFBC-23DD-4DCE-AF89-4515048764FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F66DA57E-096C-4047-892F-1109A115B086</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>715A4CAC-50C1-4569-8749-D712B0C4BC9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carl Smith (@CarlosNZ)</string>
	<key>description</key>
	<string>Count words (and characters) in clipboard or selected text</string>
	<key>name</key>
	<string>Word Count</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>wordcount=$(pbpaste | wc -w | tr -d ' ')
charcount=$(pbpaste | wc -m | tr -d ' ')
linecount=$(pbpaste | wc -l | tr -d ' ')

echo "$wordcount words"
echo "$linecount lines | $charcount characters"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>715A4CAC-50C1-4569-8749-D712B0C4BC9E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F66DA57E-096C-4047-892F-1109A115B086</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>text="{query}"

wordcount=$(echo "$text" | wc -w | tr -d ' ')
charcount=$(echo "$text" | wc -m | tr -d ' ')
linecount=$(echo "$text" | wc -l | tr -d ' ')

echo "$wordcount words"
echo "$linecount lines | $charcount characters"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>09E641C2-6B59-4FC7-9984-E8CC1BE44A67</string>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>8A82EFBC-23DD-4DCE-AF89-4515048764FE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0FE50D12-3D95-4D01-BF4E-477A0694597A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Word Count</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AF143807-11EF-440B-A0D1-2F0DC1E36EC0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>wc</string>
				<key>script</key>
				<string>wordcount=$(pbpaste | wc -w | tr -d ' ')
charcount=$(pbpaste | wc -m | tr -d ' ')
linecount=$(pbpaste | wc -l | tr -d ' ')

echo '&lt;?xml version="1.0"?&gt;
&lt;items&gt;
  &lt;item uid="wordcount" arg="'$wordcount' words in clipboard"&gt;
    &lt;title&gt;'$wordcount' words in clipboard&lt;/title&gt;
    &lt;subtitle&gt;'$linecount' lines • '$charcount' characters (Select to display notification)&lt;/subtitle&gt;
    &lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;
&lt;/items&gt;'</string>
				<key>subtext</key>
				<string>Count words in clipboard (Select to display notification)</string>
				<key>title</key>
				<string>Word Count</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>868C62D4-F31B-4A70-BD01-F11EAE2EB14E</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>09E641C2-6B59-4FC7-9984-E8CC1BE44A67</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>0FE50D12-3D95-4D01-BF4E-477A0694597A</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>715A4CAC-50C1-4569-8749-D712B0C4BC9E</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>868C62D4-F31B-4A70-BD01-F11EAE2EB14E</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>8A82EFBC-23DD-4DCE-AF89-4515048764FE</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>AF143807-11EF-440B-A0D1-2F0DC1E36EC0</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>F66DA57E-096C-4047-892F-1109A115B086</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://geekzone.philosophicalzombie.net</string>
</dict>
</plist>
